extends layout 
block content 
    .student-panel 
        img(src='img/student-img.jpg')
        include includes/student-form 

    .teacher-panel 
        img(src='img/teacher-img.jpg')
        include includes/teacher-form 