form(method="post" action="/teacher")
    table
        tr 
            td Username 
            td
                input(type="text" name ="username") 
        tr 
            td FirstName 
            td 
                input(type="text" name ="firstname")
        tr 
            td LastName 
            td
                input(type="text" name ="lastname")
        tr 
            td Email
            td
                input(type="email" name ="email")
        tr 
            td Postal Address 
            td
                input(type="text" name ="address")
        tr 
            td PhoneNumber 
            td
                input(type="number" name ="phonenumber")
        tr 
            td Institution 
            td
                input(type="text" name ="institution")
        tr 
            td Password
            td
                input(type="password" name ="password")
        tr 
            td Confirm Password
            td
                input(type="password" name ="confirm-password")
        tr 
            td  
            td
                input(type="submit" value="Register")